@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@font-face {
    font-family: 'get-schwifty';
    src: url('../assets/fonts/get-schwifty.ttf'); /* IE9 Compat Modes */
  }
@import "mixins";
@import 'base';
@import 'grid';
$color--grey--light: rgb(75, 75, 75);
$color--grey--dark: rgb(49, 49, 49);
$color--grey--dark-secondary: rgb(39, 39, 39);
$color--white: rgb(238, 238, 238);
$color--green: #3e8e41;
$color--green--light: #c1f762;
$color--black: #000;
img {
    width: 30%;
    max-width: 400px;
    height: auto;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
body {
    background-color: rgb(49, 49, 49);
    color: $color--white;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
}
/* Typography */
.heading {
    &__primary {
        font-family: "get-schwifty";
        color: $color--black;
        font-size: 8rem;
        letter-spacing: 5px;
        padding-top: 4rem;
        position: absolute;
        display: block;
        width: 100%;
        z-index: 10;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
#characters {
    padding-top: 5rem;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.card {
    position: relative;
    margin: 1rem auto;
    width: 50rem;
    min-width: 30rem;
    box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.27);
    background-color: rgb(75, 75, 75);
    border-radius: 1.2rem;
    display: flex;
    flex-direction: row-reverse;
    &-info {
    }
    &-container {
        width: 100%;
        transition: 1s ease all;
    }
}
.header {
    display: block;
    position: relative;
    height: 70vh;
    background-attachment: fixed;
    background: white;
    background-repeat: no-repeat;
    background-position: 50% -40%;
    box-shadow: 0px 10px 25px 2px rgba(0,0,0,0.55);
    &__image {
        display: inline-block;
        position: relative;
        z-index: 5;
        width: 100%;
        height: 100%;
        background: url('../assets/image_1.png');
        background-size: 50%;
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-attachment: fixed;
        opacity: .25;
    }
}
.footer {
    background-color: $color--grey--dark-secondary;
    padding: 2rem 0;
    font-size: 1.5rem;
}
/*Dot*/
.dot {
    width: 1rem;
    height: 1rem;
    position: relative;
    display: inline-block;
    border-radius: 50%;
    background-color: rgb(240, 255, 240);
    &--red {
        background-color: red;
    }
    &--green {
        background-color: greenyellow;
    }
}
/* Button */
#more {
    color: $color--white;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    background-color: $color--grey--light;
    padding: .8rem 1rem;
    margin: 1rem;
    display: inline-block;
    border-radius: 1rem;
    transition: .35s all ease;
    &:hover {
        background-color: $color--green;
        color: white;
      }
}
